{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    
</head>
<body>
    <a href="{% url 'post-list'  %}"><h1>blog personal</h1></a>
    <a href="{% url 'post-new' %}">Nueva publicacion</a>
    

    {% if user.is_authenticated %}
        <p>Hola, {{ user.username }}</p>
        <form action="{% url 'logout' %}" method="post" style="display:inline">
            {% csrf_token %}
            <button type="submit">Cerrar sesión</button>
        </form>
    {% else %}

        <a href="{% url 'login' %}">Iniciar sesión</a>
        <a href="{% url 'signup' %}">Registrarse</a>

    {% endif %}
    {% block content %}
    {% endblock %}
</body>
</html>