<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>listado de post</h1>
    {% for publication in post_list %}
            <ul>
                <li>
                <a href="{% url 'post-detail' publication.pk %}"><h2>{{ publication.title }}</h2></a>
                <p>{{ publication.author }}</p>
                </li>
            </ul>
    {% endfor %}
</body>
</html>